.sec-1{
    background-image: url(../Assets/background1/p-tz2.jpg);
    background-repeat: no-repeat;
    background: cover;
    height: 700px;
}
#h1-h{
    border: 3px solid aquamarine;
    background-color: white;
    text-align: center;
    padding: 15px;
    opacity: 0.5;